{% extends 'base.html' %}
{% block title %}Chart{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var ctx2 = document.getElementById('myChart3').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: [{% for i in qs %}'{{ i.name }}',{% endfor %}],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for i in qs %}'{{ i.money }}',{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            var ctx1 = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    labels: [{% for i in qs %}'{{ i.name }}',{% endfor %}],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for i in qs %}'{{ i.money }}',{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart1 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for i in qs %}'{{ i.name }}',{% endfor %}],
                    datasets: [
                        {
                            label: '# of Votes',
                            data: [{% for i in qs %}'{{ i.money }}',{% endfor %}],
                            'fill':false,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: false,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <canvas id="myChart1" width="400" height="200" aria-label="Hello ARIA World"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="myChart2" width="400" height="200" aria-label="Hello ARIA World"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="myChart3" width="400" height="200" aria-label="Hello ARIA World"></canvas>
        </div>
    </div>

{% endblock %}